.navbar{
    --bs-navbar-padding-x: none !important;
--bs-navbar-brand-padding-y: none !important;
}
.dropdown-menu{
    --bs-dropdown-min-width: 10rem;
}
.navbar.navbar-expand-lg.bg-info{
    background-image:url(imagenes/fondoMadera.jpg);
}
.container-fluid{
    display: flex;
}
.row {
    justify-content: center;
}