.navbar{
    --bs-navbar-padding-x: none !important;
--bs-navbar-brand-padding-y: none !important;
}
.dropdown-menu{
    --bs-dropdown-min-width: 10rem;
}
.navbar.navbar-expand-lg.bg-info{
    background: rgb(14,194,207)!important;
}
