.navbar.navbar-expand-lg.bg-info{
    z-index: 1;
    --bs-navbar-padding-x: none !important;
    --bs-navbar-brand-padding-y: none !important;
    background-image:url(imagenes/fondoMadera.jpg);
}
.dropdown-menu{
    --bs-dropdown-min-width: 10rem;
}
.container-fluid{
    display: flex;
}
.container.descripcion{
    margin: 5rem 9rem;
}
.row {
    justify-content: center;
}
.banner{
    position: absolute;
    z-index: -1;
}
.userprofile{
    border-radius: 10%;
    width: 100%;
}
.col-4.titulos{
    background-color:rgb(255, 255, 255);
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 15%;
}
.col-2.perfil{
    background-image:url(imagenes/fondoMadera.jpg);
}